
.text-top>p{
    font-size: 500%;
    font-family: "Uni Sans";
    color: rgb(37,37,37);
    text-align: center;
}

.text-top{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.block-inf{
    width: 60%;
    background-color: rgba(255, 255, 255, 0.84);
    padding: 50px 0;
    margin-left: 20%;
    margin-bottom: 3%;
}

.name-restaurant{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.name-restaurant>p{
    font-size: 200%;
    color: rgb(37,37,37);
}

.image-restaurant{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.image-restaurant>img{
    width: 60%;
}

.description-information{
    width: 94%;
    background-color: rgb(37,37,37);
    margin-left: 3%;
    margin-top: 50px;
}

.description-information>p{
    color: white;
    padding: 50px 25px;
    font-size: 20px;
    text-align: justify;
    line-height: 1.5;
}

.button-restaurant{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.b-r{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #e20000;
    width: 45%;
    height: 90px;
    cursor: pointer;
}

.b-r>p{
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
}

.b-r>p>a{
    text-decoration: none;
    color: white;
}
@media (max-width: 550px) {
    .text-top>p{
        font-size: 400%;
        font-family: "Uni Sans";
    }

}

@media (max-width: 1000px) {

    .block-inf{
        width: 94% !important;
        margin-left: 3% !important;
    }
}

@media (max-width: 950px) {

    .b-r>p{
        font-size: 18px !important;
    }

    .b-r{
        width: 70% !important;
    }
    .image-restaurant > img {
        width: 85% !important;
    }

    .description-information>p{
        font-size: 12px !important;
    }
}